.div-loading {
    width: 55px;
    height: 55px;

    border-radius: 50%;
    box-shadow: 2px 2px 5px white;

    animation: fade 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}