.card {
	width: 300px;

	padding: 10px;
	border-radius: 10px;

	background-color: white;

	display: flex;
	align-items: center;
	flex-direction: column;
}

.avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid #999;
}

.name {
	color: #212121;
	font-size: 16px;
}

.infos {}

.group-infos {}

.bio 

.footer {}

.link-repo {}