---
import '../styles/global.css';
import Cabecalho from '../components/Cabecalho.astro';
import Rodape from '../components/Rodape.astro';

const { tituloPagina } = Astro.props;

---

<html lang="pt">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Astro Tutorial</title>
	</head>
	<body>

		<Cabecalho />
		<h1>Iniciando com Astro</h1>

        <slot />
		<hr />

		<Rodape />

		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
