---
import '../styles/global.css';
import LayoutBase from '../layouts/LayoutBase.astro';
import PostBlog from '../components/PostBlog.astro';

const todasPostagens = await Astro.glob('../pages/postagens/*.md');
const tituloPagina = "Meu Blog de Aprendizado sobre Astro";
---

<LayoutBase tituloPagina={tituloPagina}>
	<p>Aqui é onde postarei sobre minha jornada aprendendo Astro.</p>
	<br>

	<ul>
		{todasPostagens.map((post) => <PostBlog url={post.url} titulo={post.frontmatter.titulo} />)}
	</ul>
</LayoutBase>