---
import '../styles/global.css';
import Navegacao from '../components/Navegacao.astro';
import Rodape from '../components/Rodape.astro';

---

<html lang="pt">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Astro Tutorial</title>
	</head>
	<body>

		<Navegacao />
		<h1>Iniciando com Astro</h1>
		<hr />

		<Rodape />
	</body>
</html>
