---
import LayoutBase from '../layouts/LayoutBase.astro';
import Saudacao from '../components/Saudacao.jsx';
const tituloPagina = "Página Inicial";
---

<LayoutBase tituloPagina={tituloPagina}>
  <h2>O subtítulo incrível do meu blog</h2>
  <Saudacao client:load mensagens={["Hej", "Hallo", "Hola", "Habari"]} />
</LayoutBase>