---
import LayoutBase from '../layouts/LayoutBase.astro';
const tituloPagina = "Página Inicial";
---

<LayoutBase tituloPagina={tituloPagina}>
  <h2>O subtítulo incrível do meu blog</h2>
</LayoutBase>