<section class="app-content">
    @if(cardExit) {
        <article>
            <div class="content-div-text">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                <p>
                    adipisicing elit. Voluptatem esse harum reiciendis!
                    Ea repellat eaque sapiente architecto illo
                    exercitationem reprehenderit beatae, hic quis provident ut ex commodi corporis, laudantium ipsam.
                </p>
            </div>

            <div class="content-img">
                <img ngSrc="/assets/undraw_online_art_re_f1pk.svg" priority width="400" height="410">
            </div>
        </article>

        <article>
            <div class="content-div-text">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                <p>
                    adipisicing elit. Voluptatem esse harum reiciendis!
                    Ea repellat eaque sapiente architecto illo
                    exercitationem reprehenderit beatae, hic quis provident ut ex commodi corporis, laudantium ipsam.
                </p>
            </div>

            <div class="content-img">
                <img ngSrc="/assets/undraw_thought_process_re_om58.svg" priority width="400" height="410">
            </div>
        </article>
    }@else {
        <article>
            <div class="content-div-text">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                <p>
                    @for(textNoP of textP; track $index) {
                        {{textNoP}}
                    }@empty {
                        <h3>Nenhum Text para renderizar</h3>
                    }
                </p>
            </div>

            <div class="content-img">
                <img ngSrc="/assets/undraw_online_art_re_f1pk.svg" priority width="400" height="410">
            </div>
        </article>

        <article>
            <div class="content-div-text">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                <p>
                    adipisicing elit. Voluptatem esse harum reiciendis!
                    Ea repellat eaque sapiente architecto illo
                    exercitationem reprehenderit beatae, hic quis provident ut ex commodi corporis, laudantium ipsam.
                </p>
            </div>

            <div class="content-img">
                <img ngSrc="/assets/undraw_thought_process_re_om58.svg" priority width="400" height="410">
            </div>
        </article>

        <article>
            <div class="content-div-text">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                <p>
                    @for(textNoP of textP; track $index) {
                        {{textNoP}}
                    }@empty {
                        <h3>Nenhum Text para renderizar</h3>
                    }
                </p>
            </div>

            <div class="content-img">
                <img ngSrc="/assets/undraw_online_art_re_f1pk.svg" priority width="400" height="410">
            </div>
        </article>

        <article>
            <div class="content-div-text">
                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                <p>
                    adipisicing elit. Voluptatem esse harum reiciendis!
                    Ea repellat eaque sapiente architecto illo
                    exercitationem reprehenderit beatae, hic quis provident ut ex commodi corporis, laudantium ipsam.
                </p>
            </div>

            <div class="content-img">
                <img ngSrc="/assets/undraw_thought_process_re_om58.svg" priority width="400" height="410">
            </div>
        </article>
    }
</section>