---
import Navegacao from './Navegacao.astro';
import Hamburguer from './Hamburguer.astro';
import IconeTema from './IconeTema.astro';
---
<header>
  <nav>
    <Hamburguer />
    <IconeTema />
    <Navegacao />
  </nav>
</header>