---
const { titulo, url } = Astro.props;
---

<li class="list-posts"><a class="links-posts" href={url}>{titulo}</a></li>

<style>
    .list-posts {
        list-style: none;

        width: fit-content;

        padding: 10px 0px;
        margin-bottom: 10px;

        border-radius: 10px;
    }
    .links-posts {
        text-decoration: none;
        color: aquamarine;
    }
</style>
