---
const plataforma = "github";
const nomeUsuario = "withastro";
---

<footer>
  <p>Aprenda mais sobre meus projetos em <a href={`https://www.${plataforma}.com/${nomeUsuario}`}>{plataforma}</a>!</p>
</footer>