---
const { plataforma, nomeUsuario } = Astro.props;

const valueRadius = "5px";
const valueFont = "0.9rem";
---

<a href={`https://www.${plataforma}.com/${nomeUsuario}`}>{plataforma}</a>

<style define:vars={{ valueRadius, valueFont }}>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4807ab;
    text-decoration: none;
    border-radius: var(--valueRadius);
    font-size: var(--valueFont);
  }
</style>
